
  <card class="form" style="width: 250px; border: 3px gray solid">
      <h5 class="card-header center_me" style=" color: blue;">GP <%= garage.garage_number %></h5>
          <p class="card-text">  
            <table style="width: 100%; margin-top: 10px"> 
              <thead>
                  <%= display_rental(garage,"Friday") %>
                  <%= display_rental(garage,"Saturday") %>
                  <%= display_rental(garage,"Sunday") %>
              </thead>
              <tbody>

                </tbody>

              </table>
          </p>
          <section class="center_me">
            <% if @rentals.has_available_garages(garage).count < 3 %> 
              <%= link_to  "Rent", new_event_garage_path(garage_id: garage.id), :class => "btn btn-danger center_me", :style => "width: 80%"%>
              
            <% else %>
              <a href="" class="btn btn-outline-secondary center_me">Unavailable</a>  
            <% end %>
          </section>
          
        </div>  
  </card>
  