<% if @user.errors.any? %>
  <div id="error_explanation">


    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="center_me">
<card class="form">
  <%= form_for(user) do |f| %>
    <section class="add_margin">
      <%= f.label :first_name, :class => "block"  %>
      <%= f.text_field :first_name, :class => "block"  %>
    </section>
    <section class="add_margin">
      <%= f.label :last_name, :class => "block"  %>
      <%= f.text_field :last_name, :class => "block"  %>
    </section>
    <section class="add_margin">
      <%= f.label :username, :class => "block"  %>
      <%= f.text_field :username, :class => "block"  %>
    </section>
    <section class="add_margin">
      <%= f.label :password, :class => "block"  %>
      <%= f.password_field :password, :class => "block"  %>
    </section>
    <section class="add_margin center_me">
       <%= f.submit button_label, :class => "btn btn-danger"  %>
    </section>
  <% end %>
  </card>
</div>
