<div class="header">
    <h1 class="header">Garage GP <%= @garage.garage_number %> </h1>
    <p class="quote"> Event: <%= @event.event_name %></p>
    <p class="quote" style="margin-top: -15px"> Date:  <%= @event.date %></p>
</div>
<hr/>
<div class="center_me">
    <card class="form">

   <%= form_tag("", method: "post") do %>
   <%= hidden_field_tag :event_id, @event.id %>

   <h4>Days Available</h4>
   </br> 
   
    <% Rental.rental_days.each do |day| %>
      <span style="padding: 10px; font-size: 20px">
      <% if !@rentals.any?{|b| b.rental_day == day } %>
        <%= check_box_tag 'rental_days[]', day, @rentals.any?{|b| b.rental_day == day } %>
        <%= h day -%>
      <% end %>
      </span> 
  <% end %>
  
      
 
  </br>
  </br>

   <p class="center_me add_margin">
        <%= submit_tag("Rent", :class=>"center_me btn btn-danger", :style => "width: 100%")%>
   </p>
  <% end %>
 
    
    
    </card>
</div>