<card class="form">
  <%= form_for(@venue) do |f| %>
    <div class='field'>
      <%= f.label :name, "Venue Name" %><br />
      <%= f.text_field :name %>
    </div>
    <div class='field'>
      <%= f.label :city, "City" %><br />
      <%= f.text_field :city %>
    </div>
    <div class='field'>
      <%= f.label :state, "State" %><br />
      <%= f.text_field :state %>
    </div>
    <%= f.submit  "Add", :class => "btn btn-primary add_margin", data: { disable_with: false }%>
  <% end %>
</card>
